<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>myfeed</id>
      <username>ankitasrivastava1610</username>
      <password>llapkgypxtb4hgzpiv3apunkp73x5srguh5n7zcnvchk27wxuwka</password>
    </server>
  </servers>
</settings>
